{% extends 'pages/header.html' %}
{% block content %}
<h3>Post a payment for {{loan.loan_name}}</h3>
<p>Outstanding Principal: {{loan.loan_principal}}</p>
<p>Last payment date {{loan.loan_last_action_date}}, Monthly Payment: {{loan.loan_payment}}</p>
<form method=POST action="" >
    {% csrf_token %}
    {{form.as_p}}
    <input class='btn btn-success' type="submit" value="Commit Payment"  >
</form>
<br>
<a href= "{% url 'loans:loan_list' %}" ><button type='button' class='btn btn-info'>Return to Loans</button></a>
{% endblock %}