<!DOCTYPE HTML>
<html lang = "en">
<head>
    <!-- basic.html -->
    <title>My Loan Tracker</title>
    <meta charset = "UTF-8" name="viewport" content="width-device-width , initial-scale=1"  />

    <!--bootstrap stuff -->
    
    {% load staticfiles %}
    <!--
    <link rel='stylesheet' href="{% static 'pages/css/bootstrap.min.css' %}" type ='text/css'/ >
    <script src="{% static 'pages/js/bootstrap.min.js' %}" type="text/js" ></script>
    -->
    <!--This one requires CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Basic-Header.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
    <div>
        <nav class="navbar navbar-default navigation-clean-button">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="">Loan Tracker</a>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}

    <br><br><br>
</body>
</html>